<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d %red([%thread]) %-3L %highlight(%-5level) %yellow(%logger{50}): %msg%n</pattern>
        </layout>
    </appender>

    <appender name="LOG_ERROR" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>.logs/error.log</file>
        <encoder>
            <pattern>[LOG_ERROR] %d %-4relative %-5level %caller{1}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                %d [%t] %-3L %-5p %C: %m%n
            </pattern>
        </encoder>
        <file>.logs/bgames.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>.logs/archived/bgames_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>25MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG_ERROR"/>
        <appender-ref ref="LOG_APP"/>
    </root>

    <logger name="bgames.logger" level="ERROR" additivity="false">
        <appender-ref ref="LOG_ERROR"/>
    </logger>

    <logger name="bgames.logger" level="DEBUG" additivity="false">
        <appender-ref ref="LOG_APP"/>
    </logger>
</configuration>