@charset "UTF-8";

body, wrapper {
    min-height: 100vh;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
}

main {
    flex: 1;
}

/*Animated background*/
.bg-anim {
    background: linear-gradient(300deg, #9be1d2, #306bac, #66c7f4);
    background-size: 600% 600%;

    -webkit-animation: bg-anim 12s ease infinite;
    -moz-animation: bg-anim 12s ease infinite;
    animation: bg-anim 12s ease infinite;
}

@-webkit-keyframes bg-anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bg-anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bg-anim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*Footer*/
#copyright {
    font-family: Arial;
    font-size: 12px;
}

#copyright a {
    color: mintcream;
}

#copyright a:hover, a:focus {
    color: #b8d6ff;
    text-decoration: none;
}

/*Feather icons*/
.feather {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

/*Fontawesome field icons*/
.field-icon {
    float: right;
    margin-right: 20px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
}

.login-field-icon {
    float: right;
    margin-right: 25px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
}

/*Left sidebar style*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 56px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*Jumbotron*/
.jumbotron {
    background-image: url(../img/cover.jpg);
    background-size: cover;
    text-align: center;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron p {
    font-size: 22px;
}

/*Card deck*/
.card-deck {
    margin: 0 -15px;
    justify-content: space-between;
}

.card-deck .card {
    margin: 0 0 1rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
        -ms-flex: 0 0 48.7%;
        flex: 0 0 48.7%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .card {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
    }
}

@media (min-width: 992px)
{
    .card-deck .card {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
    }
}

/*Transparent input*/
.transparent-input{
    background-color: transparent !important;
}